@{
    this.ViewData["Title"] = Routers.NotificationMe.Title;
}


<div class="px-4 mx-auto space-y-8 lg:mt-8 md:w-4/5 lg:w-3/5">
    <h1 class="text-4xl font-semibold text-center">My Notification</h1>
    <form class="flex-1 space-y-2 intro-x">
        @await Html.PartialAsync("../../Components/Form/FormHidden.cshtml",
        new {Name="pageSize", Value="12"})
        @await Html.PartialAsync("../../Components/Form/FormHidden.cshtml",
        new {Name="indexPage", Value="0"})

        <div class="flex flex-col justify-center space-y-2 lg:space-y-0 lg:space-x-4 lg:items-end lg:flex-row">

            @await Html.PartialAsync("../../Components/Form/TextField.cshtml",
            new {Name="search", Label="Notification ID", Type="text", Value= this.Context.Request.Query["search"]})

            @await Html.PartialAsync("../../Components/Form/TextField.cshtml",
            new {Name="startDate", Label="Start Date", Type="date", Value=
            this.Context.Request.Query["startDate"]})

            @await Html.PartialAsync("../../Components/Form/TextField.cshtml",
            new {Name="endDate", Label="End Date", Type="date", Value= this.Context.Request.Query["endDate"]})


            <div class="pb-1">
                @await Html.PartialAsync("../../Components/Form/FormBtn.cshtml",
                new { Label="Search", Icon = "../../Components/Icons/Search.cshtml"})
            </div>
        </div>
    </form>
</div>
