@using FPTBlog.Views.Components.Form;
@using Microsoft.AspNetCore.Html;

@{
    ViewData["Title"] = Routers.CreateCategory.Title;
    var formBuilder = new FormBuilder(this.Context, this.ViewData);
}


<div>


    @formBuilder.FormWrapper("Create category", "createCategoryForm","Create ", new IHtmlContent[] {
    formBuilder.TextField("name","Name"),
    formBuilder.TextField("description","Description"),
    formBuilder.RadioButton("status", "Status")
    })
</div>