@using FPTBlog.Src.CategoryModule.Entity
@using FPTBlog.Views.Components.Form;
@using Microsoft.AspNetCore.Html;

@{
    ViewData["Title"] = Routers.CreateCategory.Title;
    var formBuilder = new FormBuilder(this.Context, this.ViewData);

    Category category = (Category)ViewData["category"];
}


<div class="flex flex-1 bg-big-stone-500">
    <div class="w-56 p-2 ">
        @await Html.PartialAsync("~/Views/Components/SideDashboard.cshtml")

    </div>
    <div class="flex-1 p-2 bg-gray-100">

        <div class="max-w-md px-2 py-16 border-2 rounded-sm">
            @formBuilder.FormWrapper("Update Category", "updateCategoryForm","Create ", new IHtmlContent[] {
            formBuilder.TextField("name","Name", category.Name),
            formBuilder.TextField("description","Description",category.Description),
            formBuilder.RadioButton("status", "Status", ((int)category.Status).ToString()),
            formBuilder.TextFieldHidden("categoryId", category.CategoryId),
            })
        </div>
    </div>
</div>

@section Scripts {
<script src="~/js/adminCommon.js"></script>
<script src="~/js/updateCategory.js"></script>
}