@{
    var addBtn = new FormField(){Label = "Add"};
}

<div>
    <h1>Add Blog</h1>
    <form action="@Routers.AddBlog.Link" method="post">
        @await Html.PartialAsync("~/Views/Components/Form/FormMsg.cshtml")
        <div>
            @* @await Html.PartialAsync("~/Views/Components/Form/TextFiled.cshtml", name) *@
        </div>
        @await Html.PartialAsync("~/Views/Components/Form/FormBtn.cshtml", addBtn)
    </form>
</div>