@using FPTBlog.TagModule.Entity
@{
    Tag updateTag = (Tag)ViewData["tag"];
    var name = new FormField() {Label = "Name", Field = "name", Type = "text", Value = updateTag?.Name};
    var updateBtn = new FormField(){Label = "Update"};
    var updateLink = $"{Routers.UpdateTag.Link}?tagId={updateTag?.TagId}";
}

<div>
    <h1>Update Tag</h1>
    @if(updateTag == null){
        @await Html.PartialAsync("~/Views/Components/Form/FormMsg.cshtml")
    } else {
        <form action="@updateLink" method="post">
            @await Html.PartialAsync("~/Views/Components/Form/FormMsg.cshtml")
            <div>
                @await Html.PartialAsync("~/Views/Components/Form/TextFiled.cshtml", name)
            </div>
            @await Html.PartialAsync("~/Views/Components/Form/FormBtn.cshtml", updateBtn)
        </form>
    }
    
</div>