@using FPTBlog.Src.PostModule.Entity
@{
    this.ViewData["Title"] = Routers.CommonGetHome.Title;
    var top1 = (PostViewModel)this.ViewData["top1"];
    var top3 = (List<PostViewModel>)this.ViewData["top3"];
    var middle4 = (List<PostViewModel>)this.ViewData["middle4"];
    var bottom4 = (List<PostViewModel>)this.ViewData["bottom4"];
    var bottom1 = (PostViewModel)this.ViewData["bottom1"];
    var bottom3 = (List<PostViewModel>)this.ViewData["bottom3"];

}


<div class="w-full px-2 py-8 mx-auto space-y-16">
    <div class="space-y-8">
        <div class="flex items-end space-x-2">
            <h1 class="text-xl font-semibold tracking-wide">TODAY</h1>
            <div class="flex-1 h-0.5 bg-tango-200"></div>
        </div>
        <div class="flex flex-col md:flex-row md:space-x-8 md:space-y-0 intro-y">
            @await Html.PartialAsync("../../Components/Post/MainPost.cshtml", new {Value = top1})
            <div class="flex flex-col flex-1 space-y-4">
                @foreach (var item in top3)
                {
                    @await Html.PartialAsync("../../Components/Post/SidePost.cshtml", new {Value = item})
                }
            </div>
        </div>
    </div>

    <div class="space-y-8">
        <div class="flex items-end space-x-2">
            <h1 class="text-xl font-semibold tracking-wide">MOST POPULAR</h1>
            <div class="flex-1 h-0.5 bg-tango-200"></div>
        </div>
        <div class="grid grid-cols-4 gap-6 intro-y">
            @foreach (var item in middle4)
            {
                @await Html.PartialAsync("../../Components/Post/InlinePost.cshtml", new {Value = item})
            }
        </div>
    </div>

    <div class="space-y-8">
        <div class="flex items-end space-x-2">
            <h1 class="text-xl font-semibold tracking-wide">MOST POPULAR</h1>
            <div class="flex-1 h-0.5 bg-tango-200"></div>
        </div>

        <div class="grid grid-cols-4 gap-6 intro-y">
            @foreach (var item in bottom4)
            {
                @await Html.PartialAsync("../../Components/Post/InlinePost.cshtml", new {Value = item})
            }
        </div>
    </div>
    <div class="space-y-8">
        <div class="flex items-end space-x-2">
            <h1 class="text-xl font-semibold tracking-wide">MOST VIEW</h1>
            <div class="flex-1 h-0.5 bg-tango-200"></div>
        </div>
        <div class="flex flex-col md:flex-row md:space-x-8 md:space-y-0 ">
            <div class="flex flex-col flex-1 space-y-4">
                @foreach (var item in bottom3)
                {
                    @await Html.PartialAsync("../../Components/Post/SidePost.cshtml", new {Value = item})
                }
            </div>
            @await Html.PartialAsync("../../Components/Post/MainPost.cshtml", new {Value = bottom1})
        </div>
    </div>
</div>




@section Scripts {

}
