@tailwind base;
@tailwind components;
@tailwind utilities;

.first-letter::first-letter {
    text-transform: uppercase;
}

@keyframes FadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fade-in {
    animation: FadeIn 0.3s;
}
.fade-in-long {
    animation: FadeIn 0.7s;
}
.fade-in-menu {
    animation: FadeIn 1s forwards;
}

.menu {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    padding: 0;
}
.line {
    fill: none;
    stroke: #52b848;
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}
.line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
}
.line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}
.opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}
.opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
}
.opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}
.g_id_signin iframe {
    margin: 0 auto !important;
}

.bg-2 {
    background-image: url('/images/bg2.png');
    /* background-image: url('/images/bg1.jpg'); */
    background-size: cover;
    background-repeat: no-repeat;
}
.bg-1 {
    background-image: url('/images/bg1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.animation1 {
    animation: Wave 0.4s infinite ease-in alternate;
}
.animation2 {
    animation: Wave 0.4s 0.3s infinite ease-in alternate;
}

@keyframes Wave {
    0% {
        transform: scaleY(0.5);
    }

    100% {
        transform: scaleY(1);
    }
}

.check-box div input:checked ~ label {
    @apply bg-tango-500;
}

.safari {
    -webkit-appearance: none;
}
.admin-dashboard {
    -moz-transition: height 0.5s;
    -ms-transition: height 0.5s;
    -o-transition: height 0.5s;
    -webkit-transition: height 0.5s;
    transition: height 0.5s;
    height: 40px;
}
