@{

    this.ViewData["Title"] = "Phạm Vĩnh Nhân";
}

<div class="relative">
    <div class="flex flex-1 space-x-4">
        <div class="w-1/3">
            @await Html.PartialAsync("../../Components/User/UserCard.cshtml")
        </div>
        <div class="flex w-2/3">
            <div
                class="flex flex-col items-center justify-center flex-1 px-2 py-16 space-y-2 border rounded-md shadow-lg">
                <div class="w-full space-y-4 md:px-4 md:w-96 intro-y bg-opacity-90">
                    <h1 class="text-2xl font-semibold text-center">Change Password</h1>
                    @* Form Start *@

                    @await Html.PartialAsync("../../Components/Form/FormMsg.cshtml")
                    <form class="space-y-6 fade-in" id="changeUserPasswordForm">

                        @await Html.PartialAsync("../../Components/Form/TextField.cshtml",
                        new { Name="oldPassword", Label="Old Password", Type="password", Value=""})

                        @await Html.PartialAsync("../../Components/Form/TextField.cshtml",
                        new { Name="newPassword", Label="New Password", Type="password", Value=""})

                        @await Html.PartialAsync("../../Components/Form/TextField.cshtml",
                        new { Name="confirmNewPassword", Label="Confirm New Password", Type="password", Value=""})

                        @await Html.PartialAsync("../../Components/Form/FormBtn.cshtml",
                        new {Label="Update Password" })
                    </form>
                    @* Form End *@


                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {

<script src="/js/user-changePassword.js"></script>
}
