@{
    ViewData["Title"] = Routers.ChangePass.Title;
}

@section Styles {


<link rel="stylesheet" href="~/ui/admin/app.css">

}



@await Html.PartialAsync("~/Views/Components/NavDashboardMobile.cshtml")
<div class="flex flex-1 overflow-hidden bg-big-stone-500">
    @await Html.PartialAsync("~/Views/Components/SideDashboard.cshtml")
    <div class="content ">
        @await Html.PartialAsync("~/Views/Components/AuthAdmin.cshtml")

        <div class="grid grid-cols-12 gap-4 mt-5">
            <div class="col-span-12 sm:col-span-8 md:col-span-6 lg:col-span-4">

                <div class="intro-y box">
                    <div class="flex flex-col items-center p-5 border-b border-gray-200 sm:flex-row dark:border-dark-5">
                        <h3 class="mr-auto text-base font-medium">
                            Change Password
                        </h3>

                    </div>
                    <div id="vertical-form" class="p-5">
                        <form class="space-y-4 preview" id="changeUserPasswordForm">

                            <div class="mt-2 text-green-500 pristine-error fade-in first-letter" id="MESSAGEERROR">
                            </div>

                            <div>
                                <label for="oldPassword" class="form-label" id="OLDPASSWORDLABEL">Old Password</label>
                                <input id="oldPassword" name="oldPassword" type="text" class="form-control" value="">
                                <div class="mt-2 pristine-error text-primary-3" id="OLDPASSWORDERROR"></div>
                            </div>
                            <div>
                                <label for="newPassword" class="form-label" id="NEWPASSWORDLABEL">New Password</label>
                                <input id="newPassword" name="newPassword" type="text" class="form-control" value="">
                                <div class="mt-2 pristine-error text-primary-3" id="NEWPASSWORDERROR"></div>
                            </div>

                            <div>
                                <label for="confirmNewPassword" class="form-label" id="CONFIRMNEWPASSWORDLABEL">Confirm
                                    New
                                    Password</label>
                                <input id="confirmNewPassword" name="confirmNewPassword" type="text"
                                    class="form-control" value="">
                                <div class="mt-2 pristine-error text-primary-3" id="CONFIRMNEWPASSWORDERROR"></div>
                            </div>

                            <div>
                                @await Html.PartialAsync("~/Views/Components/Form/FormBtn.cshtml", "Update Account")
                            </div>
                        </form>

                    </div>
                </div>

            </div>


        </div>
    </div>

</div>

@section Scripts {
<script src="~/js/adminCommon.js"></script>
<script src="~/ui/admin/app.js"></script>
<script src="~/js/changePassword.js"></script>
}