@using FPTBlog.Src.PostModule.Entity
@{
    var profile = (User)ViewData["user"];
    this.ViewData["Title"] = profile.Name;
    var posts = (List<PostViewModel>)this.ViewData["posts"];
    SelectList categories = (SelectList)this.ViewData["categories"];
}

<div class="relative mt-4">
    <div class="grid grid-cols-3 gap-4">
        <div class="col-span-1">
            @await Html.PartialAsync("../../Components/User/MyUserCard.cshtml", new {Value = this.ViewData})
        </div>
        <div class="flex col-span-2">
            <div class="flex flex-col items-center flex-1 px-2 py-4 space-y-2 border rounded-md shadow-lg">
                <div class="w-full space-y-4 md:px-4 intro-y bg-opacity-90">
                    <form class="flex-1 space-y-2 ">
                        @await Html.PartialAsync("../../Components/Form/FormHidden.cshtml",
                        new {Name="pageSize", Value="12"})
                        @await Html.PartialAsync("../../Components/Form/FormHidden.cshtml",
                        new {Name="indexPage", Value="0"})

                        <div class="flex items-end space-x-4">

                            @await Html.PartialAsync("../../Components/Form/TextField.cshtml",
                            new {Name="searchTitle", Label="Search", Type="text", Value=
                            this.Context.Request.Query["searchTitle"]})

                            @await Html.PartialAsync("../../Components/Form/FormDropList.cshtml",
                            new {Name="searchCategoryId", Label="Category",
                            Value=this.Context.Request.Query["searchCategoryId"],
                            List=categories})
                            <div class="mb-1">
                                @await Html.PartialAsync("../../Components/Form/FormBtn.cshtml",
                                new { Label="Search", Icon = "../../Components/Icons/Search.cshtml"})
                            </div>
                        </div>
                    </form>

                    @if (posts.Count == 0)
                    {
                        <div class="flex flex-col items-center justify-center flex-1 my-8 space-y-2">
                            <svg width="256" height="256" viewBox="0 0 256 256" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                                <g>
                                    <path
                                    d="M162.52 59.1988H93.5389C91.9669 59.2007 90.4599 59.826 89.3483 60.9376C88.2368 62.0491 87.6115 63.5561 87.6096 65.1281V218.439L86.819 218.68L69.8969 223.862C69.0949 224.107 68.2287 224.023 67.4884 223.629C66.748 223.236 66.1941 222.565 65.9481 221.763L15.6126 57.3449C15.3676 56.5429 15.4511 55.6765 15.8447 54.936C16.2383 54.1956 16.9098 53.6417 17.7116 53.3961L43.7885 45.4113L119.387 22.2714L145.463 14.2867C145.86 14.1646 146.277 14.1219 146.691 14.1611C147.104 14.2003 147.505 14.3207 147.872 14.5153C148.239 14.7098 148.564 14.9749 148.828 15.2951C149.092 15.6154 149.291 15.9846 149.412 16.3817L162.279 58.4083L162.52 59.1988Z"
                                    fill="#F2F2F2" />
                                    <path
                                    d="M177.571 58.4086L162.064 7.75698C161.806 6.91303 161.385 6.12818 160.823 5.4473C160.262 4.76641 159.572 4.20283 158.792 3.78875C158.013 3.37468 157.16 3.11822 156.281 3.03404C155.403 2.94987 154.516 3.03963 153.673 3.29818L117.01 14.5203L41.4161 37.6641L4.75351 48.8902C3.05036 49.4132 1.62429 50.5905 0.788324 52.1639C-0.0476457 53.7372 -0.225217 55.578 0.294593 57.2821L53.2942 230.389C53.7165 231.764 54.5686 232.968 55.7253 233.824C56.8821 234.68 58.2827 235.142 59.7217 235.144C60.3877 235.144 61.0499 235.044 61.6861 234.847L86.8183 227.155L87.6088 226.91V226.084L86.8183 226.325L61.453 234.092C59.9496 234.551 58.3259 234.394 56.9379 233.657C55.55 232.919 54.5112 231.662 54.0493 230.159L1.0537 57.0489C0.824866 56.3045 0.745112 55.5223 0.819 54.7471C0.892889 53.9719 1.11896 53.2188 1.48429 52.5311C1.84962 51.8434 2.34703 51.2345 2.94802 50.7393C3.549 50.2441 4.24177 49.8723 4.98666 49.6452L41.6492 38.4191L117.243 15.2792L153.906 4.05318C154.471 3.88075 155.058 3.79284 155.649 3.79229C156.917 3.79513 158.15 4.20384 159.169 4.95854C160.187 5.71324 160.938 6.77428 161.31 7.98625L176.745 58.4086L176.99 59.1992H177.813L177.571 58.4086Z"
                                    fill="#3F3D56" />
                                    <path
                                    d="M48.4931 53.5253C47.7312 53.5248 46.9895 53.2801 46.3769 52.8272C45.7643 52.3742 45.313 51.7369 45.0891 51.0087L39.9977 34.3784C39.8609 33.9317 39.8134 33.4624 39.858 32.9973C39.9026 32.5322 40.0384 32.0805 40.2575 31.6679C40.4767 31.2553 40.7751 30.8899 41.1355 30.5927C41.4959 30.2954 41.9113 30.072 42.3581 29.9353L111.904 8.64382C112.806 8.36852 113.781 8.46241 114.614 8.90489C115.447 9.34737 116.07 10.1023 116.347 11.0039L121.439 27.6344C121.714 28.5366 121.62 29.5111 121.177 30.3441C120.735 31.1771 119.98 31.8005 119.078 32.0777L49.5324 53.3692C49.1956 53.4725 48.8453 53.5251 48.4931 53.5253V53.5253Z"
                                    fill="#FA6A11" />
                                    <path
                                    d="M75.1635 20.7698C79.5297 20.7698 83.0692 17.2304 83.0692 12.8642C83.0692 8.49799 79.5297 4.9585 75.1635 4.9585C70.7973 4.9585 67.2578 8.49799 67.2578 12.8642C67.2578 17.2304 70.7973 20.7698 75.1635 20.7698Z"
                                    fill="#FA6A11" />
                                    <path
                                    d="M75.1643 17.8701C77.9291 17.8701 80.1704 15.6288 80.1704 12.864C80.1704 10.0992 77.9291 7.85791 75.1643 7.85791C72.3995 7.85791 70.1582 10.0992 70.1582 12.864C70.1582 15.6288 72.3995 17.8701 75.1643 17.8701Z"
                                    fill="white" />
                                    <path
                                    d="M238.212 233.124H104.606C103.715 233.123 102.861 232.768 102.231 232.138C101.601 231.509 101.247 230.655 101.246 229.764V69.6739C101.247 68.7831 101.601 67.929 102.231 67.2992C102.861 66.6693 103.715 66.315 104.606 66.314H238.212C239.103 66.315 239.957 66.6693 240.587 67.2992C241.216 67.9291 241.571 68.7831 241.572 69.6739V229.764C241.571 230.655 241.216 231.509 240.587 232.138C239.957 232.768 239.103 233.123 238.212 233.124V233.124Z"
                                    fill="#E6E6E6" />
                                    <path
                                    d="M176.745 58.4082H93.5382C91.7567 58.4107 90.049 59.1195 88.7893 60.3792C87.5297 61.6388 86.8209 63.3466 86.8184 65.128V226.325L87.6089 226.084V65.128C87.6108 63.5561 88.2361 62.0491 89.3477 60.9375C90.4592 59.826 91.9662 59.2007 93.5382 59.1988H176.99L176.745 58.4082ZM249.28 58.4082H93.5382C91.7567 58.4107 90.049 59.1195 88.7893 60.3792C87.5297 61.6388 86.8209 63.3466 86.8184 65.128V246.168C86.8209 247.949 87.5297 249.657 88.7893 250.917C90.049 252.176 91.7567 252.885 93.5382 252.888H249.28C251.061 252.885 252.769 252.176 254.029 250.917C255.288 249.657 255.997 247.949 256 246.168V65.128C255.997 63.3466 255.288 61.6388 254.029 60.3792C252.769 59.1195 251.061 58.4107 249.28 58.4082V58.4082ZM255.209 246.168C255.207 247.74 254.582 249.247 253.47 250.358C252.359 251.47 250.852 252.095 249.28 252.097H93.5382C91.9662 252.095 90.4592 251.47 89.3477 250.358C88.2361 249.247 87.6108 247.74 87.6089 246.168V65.128C87.6108 63.5561 88.2361 62.0491 89.3477 60.9375C90.4592 59.826 91.9662 59.2007 93.5382 59.1988H249.28C250.852 59.2007 252.359 59.826 253.47 60.9375C254.582 62.0491 255.207 63.5561 255.209 65.128V246.168Z"
                                    fill="#3F3D56" />
                                    <path
                                    d="M207.774 75.801H135.042C134.099 75.8 133.194 75.4248 132.528 74.7579C131.861 74.0909 131.485 73.1867 131.484 72.2435V54.851C131.485 53.9078 131.861 53.0036 132.528 52.3366C133.194 51.6697 134.099 51.2945 135.042 51.2935H207.774C208.717 51.2945 209.622 51.6697 210.288 52.3366C210.955 53.0036 211.331 53.9078 211.332 54.851V72.2435C211.331 73.1867 210.955 74.0909 210.289 74.7579C209.622 75.4248 208.717 75.8 207.774 75.801V75.801Z"
                                    fill="#FA6A11" />
                                    <path
                                    d="M171.41 52.4793C175.776 52.4793 179.315 48.9398 179.315 44.5736C179.315 40.2075 175.776 36.668 171.41 36.668C167.043 36.668 163.504 40.2075 163.504 44.5736C163.504 48.9398 167.043 52.4793 171.41 52.4793Z"
                                    fill="#FA6A11" />
                                    <path
                                    d="M171.409 49.3889C174.068 49.3889 176.224 47.233 176.224 44.5736C176.224 41.9142 174.068 39.7583 171.409 39.7583C168.75 39.7583 166.594 41.9142 166.594 44.5736C166.594 47.233 168.75 49.3889 171.409 49.3889Z"
                                    fill="white" />
                                </g>
                                <defs>
                                    <clipPath>
                                        <rect width="256" height="249.888" fill="white" transform="translate(0 3)" />
                                    </clipPath>
                                </defs>
                            </svg>
                            <p class="text-xl font-medium opacity-60">No Data</p>
                        </div>
                    }
                    else
                    {
                        <div class="grid grid-cols-2 gap-6 intro-y">
                            @foreach (var item in posts)
                            {
                                @await Html.PartialAsync("../../Components/Post/InlinePost.cshtml", new {Value = item})
                            }
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
<script src="/js/user-update.js"></script>
}
