@{



    var user = (User)this.ViewData["user"];
    this.ViewData["Title"] = user.Name;
}

<div class="relative mt-4">
    <div class="grid grid-cols-1 lg:gap-4 lg:grid-cols-3">
        <div class="z-20 col-span-1 ">
            @await Html.PartialAsync("../../Components/User/MyUserCard.cshtml", new {Value = this.ViewData})
        </div>
        <div class="flex col-span-2 ">
            <div
                class="flex flex-col items-center flex-1 px-4 py-4 space-y-2 rounded-md lg:px-2 lg:border lg:shadow-lg">
                <div class="w-full space-y-8 md:px-4 md:w-96 intro-y bg-opacity-90">
                    <h1 class="text-2xl font-semibold text-center"> Update User</h1>
                    @await Html.PartialAsync("../../Components/Form/FormMsg.cshtml")
                    <form class="space-y-6 fade-in" id="updateUserForm">
                        @await Html.PartialAsync("../../Components/Form/TextField.cshtml",
                        new { Name = "name", Label = "Name", Type = "text", Value = user.Name })
                        @await Html.PartialAsync("../../Components/Form/TextField.cshtml",
                        new { Name = "email", Label = "Email", Type = "text", Value = user.Email })
                        @await Html.PartialAsync("../../Components/Form/TextField.cshtml",
                        new { Name = "address", Label = "Address", Type = "text", Value = user.Address })
                        @await Html.PartialAsync("../../Components/Form/TextField.cshtml",
                        new { Name = "phone", Label = "Phone", Type = "text", Value = user.Phone })
                        @await Html.PartialAsync("../../Components/Form/FormBtn.cshtml",
                        new {Label="Update Profile", Icon = "../../Components/Icons/Save.cshtml" })
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
<script src="/js/user-update.js"></script>
}
