@{

    this.ViewData["Title"] = "Phạm Vĩnh Nhân";


    var user = (User)this.ViewData["user"];
}

<div class="relative">
    <div class="flex flex-1 space-x-4">
        <div class="w-1/3">
            @await Html.PartialAsync("../../Components/User/UserCard.cshtml")
        </div>
        <div class="flex w-2/3">
            <div
                class="flex flex-col items-center justify-center flex-1 px-2 py-16 space-y-2 border rounded-md shadow-lg">
                <div class="w-full space-y-4 md:px-4 md:w-96 intro-y bg-opacity-90">
                    <h1 class="text-2xl font-semibold text-center"> Update User</h1>
                    @* Form Start *@

                    @await Html.PartialAsync("../../Components/Form/FormMsg.cshtml")
                    <form class="space-y-6 fade-in" id="updateUserForm">

                        @await Html.PartialAsync("../../Components/Form/TextField.cshtml",
                        new { Name = "name", Label = "Name", Type = "text", Value = user.Name })
                        @await Html.PartialAsync("../../Components/Form/TextField.cshtml",
                        new { Name = "email", Label = "Email", Type = "text", Value = user.Email })
                        @await Html.PartialAsync("../../Components/Form/TextField.cshtml",
                        new { Name = "address", Label = "address", Type = "text", Value = user.Address })
                        @await Html.PartialAsync("../../Components/Form/TextField.cshtml",
                        new { Name = "phone", Label = "Phone", Type = "text", Value = user.Phone })
                        @await Html.PartialAsync("../../Components/Form/FormBtn.cshtml",
                        new { Label = "Update Information" })
                    </form>
                    @* Form End *@


                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
<script src="/js/user-update.js"></script>
}
