@{
    ViewData["Title"] = Routers.User.Title;
    var user = (User)ViewData["user"];
}

@section Styles {


<link rel="stylesheet" href="~/ui/admin/app.css">

}


@await Html.PartialAsync("~/Views/Components/NavDashboardMobile.cshtml")
<div class="flex flex-1 overflow-hidden bg-big-stone-500">
    @await Html.PartialAsync("~/Views/Components/SideDashboard.cshtml")
    <div class="content ">
        @await Html.PartialAsync("~/Views/Components/AuthAdmin.cshtml")
        <div class="flex items-center mt-8 intro-y">
            <h2 class="mr-auto text-lg font-medium">
                Profile Layout
            </h2>
        </div>
        <div class="px-5 pt-5 mt-5 intro-y box">
            <div class="flex flex-col pb-5 -mx-5 border-b border-gray-200 lg:flex-row dark:border-dark-5">
                <div class="flex items-center justify-center flex-1 px-5 lg:justify-start">
                    <div class="relative flex-none w-20 h-20 sm:w-24 sm:h-24 lg:w-32 lg:h-32 image-fit">
                        <img alt="@user.Name" class="rounded-full" src="@user.AvatarUrl">

                    </div>
                    <div class="ml-5">
                        <div class="w-24 text-lg font-medium truncate sm:w-40 sm:whitespace-normal">@user.Name</div>
                        <div class="text-gray-600">@user.Username</div>
                    </div>
                </div>
                <div
                    class="flex-1 px-5 pt-5 mt-6 border-t border-l border-r border-gray-200 lg:mt-0 dark:text-gray-300 dark:border-dark-5 lg:border-t-0 lg:pt-0">
                    <div class="font-medium text-center lg:text-left lg:mt-3">Contact Details</div>
                    <div class="flex flex-col items-center justify-center mt-4 lg:items-start">
                        <div class="flex items-center truncate sm:whitespace-normal"> <svg
                                xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                stroke-linejoin="round" class="w-4 h-4 mr-2 feather feather-mail">
                                <path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z">
                                </path>
                                <polyline points="22,6 12,13 2,6"></polyline>
                            </svg> kevinspacey@left4code.com </div>
                        <div class="flex items-center mt-3 truncate sm:whitespace-normal"> <svg
                                xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                stroke-linejoin="round" class="w-4 h-4 mr-2 feather feather-instagram">
                                <rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect>
                                <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
                                <line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line>
                            </svg> Instagram Kevin Spacey </div>
                        <div class="flex items-center mt-3 truncate sm:whitespace-normal"> <svg
                                xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                stroke-linejoin="round" class="w-4 h-4 mr-2 feather feather-twitter">
                                <path
                                    d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z">
                                </path>
                            </svg> Twitter Kevin Spacey </div>
                    </div>
                </div>

            </div>
            <div class="flex-col justify-center nav nav-tabs sm:flex-row lg:justify-start" role="tablist"> <a
                    id="dashboard-tab" data-toggle="tab" data-target="#dashboard" href="javascript:;"
                    class="py-4 sm:mr-8 active" role="tab" aria-controls="dashboard" aria-selected="true">Dashboard</a>
                <a id="account-and-profile-tab" data-toggle="tab" data-target="#account-and-profile" href="javascript:;"
                    class="py-4 sm:mr-8" role="tab" aria-selected="false">Account &amp; Profile</a> <a
                    id="activities-tab" data-toggle="tab" data-target="#activities" href="javascript:;"
                    class="py-4 sm:mr-8" role="tab" aria-selected="false">Activities</a> <a id="tasks-tab"
                    data-toggle="tab" data-target="#tasks" href="javascript:;" class="py-4 sm:mr-8" role="tab"
                    aria-selected="false">Tasks</a>
            </div>
        </div>


    </div>

</div>

@section Scripts {
<script src="~/js/adminCommon.js"></script>
<script src="~/ui/admin/app.js"></script>
<script src="~/js/changePassword.js"></script>
}