<div class="absolute z-50 top-4 left-4">
      <a href="@Routers.CommonGetHome.Link" class="inline-block p-2 bg-white bg-opacity-100 rounded-md">
            <h1 class="text-3xl font-semibold text-tango-500">FPT Blog</h1>
      </a>
</div>
