<div>
    <button id="form-btn" type="submit"
        class="block w-full px-6 py-2 font-semibold text-white duration-300 bg-blue-600 rounded-sm hover:bg-blue-800 focus:outline-none">
        @Model.Label
    </button>
    <div class="items-center justify-center hidden space-x-2 fade-in" id="loading">
        <div class="w-1 h-10 bg-tango-500 animation1"></div>
        <div class="w-1 h-10 bg-tango-500 animation2"></div>
        <div class="w-1 h-10 bg-tango-500 animation1"></div>
        <div class="w-1 h-10 bg-tango-500 animation2"></div>
        <div class="w-1 h-10 bg-tango-500 animation1"></div>
    </div>
</div>
