<div class="flex items-center space-x-2">
    <div class="flex-1 h-0.5 bg-gray-600"></div>
    <div class="font-medium text-center opacity-90">
        Or
    </div>
    <div class="flex-1 h-0.5 bg-gray-600"></div>
</div>
