<div>
    <button id="form-btn" type="submit"
        class="block w-full p-2 font-semibold text-white duration-300 bg-blue-600 hover:bg-blue-800 focus:outline-none">
        @Model.Label
    </button>
    <div class="items-center justify-center hidden space-x-2 fade-in" id="loading">
        <div class="w-2 h-12 bg-tango-500 animation1"></div>
        <div class="w-2 h-12 bg-tango-500 animation2"></div>
        <div class="w-2 h-12 bg-tango-500 animation1"></div>
        <div class="w-2 h-12 bg-tango-500 animation2"></div>
        <div class="w-2 h-12 bg-tango-500 animation1"></div>
    </div>
</div>
