<div class="px-4 -mx-4 top-bar md:mx-0 md:px-0">
    <!-- BEGIN: Breadcrumb -->
    <div class="hidden mr-auto -intro-x breadcrumb sm:flex"> <a href="/">Go Back Home</a></div>
    <!-- END: Breadcrumb -->


    <!-- BEGIN: Account Menu -->
    <div class="w-8 h-8 intro-x dropdown">
        <div class="w-8 h-8 overflow-hidden rounded-full shadow-lg dropdown-toggle image-fit zoom-in" role="button"
            aria-expanded="false">
            <img alt="Tinker Tailwind HTML Admin Template" src="dist/images/profile-11.jpg" id="user-avatar">
        </div>
        <div class="w-56 dropdown-menu">
            <div class="dropdown-menu__content box dark:bg-dark-6">
                <div class="p-4 border-b border-black border-opacity-5 dark:border-dark-3">
                    <div class="font-medium" id="user-name">Name</div>
                    <div class="text-xs text-gray-600 mt-0.5 dark:text-gray-600" id="user-username">Username
                    </div>
                </div>
                <div class="p-2">
                    <a href="@Routers.User.Link"
                        class="flex items-center block p-2 transition duration-300 ease-in-out rounded-md hover:bg-gray-200 dark:hover:bg-dark-3">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
                            class="w-4 h-4 mr-2 feather feather-user">
                            <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                            <circle cx="12" cy="7" r="4"></circle>
                        </svg> Profile </a>

                    <a href="@Routers.ChangePass.Link"
                        class="flex items-center block p-2 transition duration-300 ease-in-out rounded-md hover:bg-gray-200 dark:hover:bg-dark-3">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
                            class="w-4 h-4 mr-2 feather feather-lock">
                            <rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect>
                            <path d="M7 11V7a5 5 0 0 1 10 0v4"></path>
                        </svg> Change Password </a>
                    <a href="https://github.com/MonoInfinity/fpt-blog"
                        class="flex items-center block p-2 transition duration-300 ease-in-out rounded-md hover:bg-gray-200 dark:hover:bg-dark-3">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
                            class="w-4 h-4 mr-2 feather feather-help-circle">
                            <circle cx="12" cy="12" r="10"></circle>
                            <path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path>
                            <line x1="12" y1="17" x2="12.01" y2="17"></line>
                        </svg> About Project </a>
                </div>
                <div class="p-2 border-t border-black border-opacity-5 dark:border-dark-3">
                    <a href="/auth/logout"
                        class="flex items-center block p-2 transition duration-300 ease-in-out rounded-md hover:bg-gray-200 dark:hover:bg-dark-3">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
                            class="w-4 h-4 mr-2 feather feather-toggle-right">
                            <rect x="1" y="5" width="22" height="14" rx="7" ry="7"></rect>
                            <circle cx="16" cy="12" r="3"></circle>
                        </svg> Logout </a>
                </div>
            </div>
        </div>
    </div>
    <!-- END: Account Menu -->
</div>