@using FPTBlog.Src.UserModule.Entity
@{
    var user = (User)this.ViewData["user"];
}

<!-- BEGIN: Content -->
<div class="intro-y flex items-center mt-8">
    <h2 class="text-lg font-medium mr-auto">
        Profile Layout
    </h2>
</div>

<div class="grid grid-cols-12 gap-6 mt-5">
    <!-- BEGIN: Profile Menu -->
    <div class="col-span-12 lg:col-span-4 2xl:col-span-3 flex lg:block flex-col-reverse">
        <div class="intro-y box mt-5 lg:mt-0">
            <div class="relative flex items-center p-5">
                <div class="w-12 h-12 image-fit">
                    <img alt="Avatar" class="rounded-full" src="@user.AvatarUrl">
                </div>
                <div class="ml-4 mr-auto">
                    <div class="font-medium text-base">@user.Name</div>
                    <div class="text-gray-600">@user.CreateDate</div>
                </div>
            </div>
            <div class="p-5 border-t border-gray-200 dark:border-dark-5">
                <a class="flex items-center text-theme-25 dark:text-theme-22 font-medium" href=""> <svg
                        xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-activity w-4 h-4 mr-2">
                        <polyline points="22 12 18 12 15 21 9 3 6 12 2 12"></polyline>
                    </svg> Personal Information </a>
                <a class="flex items-center mt-5" href=""> <svg xmlns="http://www.w3.org/2000/svg" width="24"
                        height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5"
                        stroke-linecap="round" stroke-linejoin="round" class="feather feather-box w-4 h-4 mr-2">
                        <path
                            d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z">
                        </path>
                        <polyline points="3.27 6.96 12 12.01 20.73 6.96"></polyline>
                        <line x1="12" y1="22.08" x2="12" y2="12"></line>
                    </svg> Account Settings </a>
                <a class="flex items-center mt-5" href="javascript:;" data-toggle="modal"
                    data-target="#change-password-modal"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                        stroke-linejoin="round" class="feather feather-lock w-4 h-4 mr-2">
                        <rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect>
                        <path d="M7 11V7a5 5 0 0 1 10 0v4"></path>
                    </svg> Change Password </a>
                <a class="flex items-center mt-5" href="javascript:;" data-toggle="modal"
                    data-target="#update-account-modal">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-edit w-4 h-4 mr-2">
                        <path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path>
                        <path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path>
                    </svg> Update Account </a>
            </div>
            <div class="p-5 border-t border-gray-200 dark:border-dark-5">
                <a class="flex items-center" href=""> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                        stroke-linejoin="round" class="feather feather-activity w-4 h-4 mr-2">
                        <polyline points="22 12 18 12 15 21 9 3 6 12 2 12"></polyline>
                    </svg> Email Settings </a>
                <a class="flex items-center mt-5" href=""> <svg xmlns="http://www.w3.org/2000/svg" width="24"
                        height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5"
                        stroke-linecap="round" stroke-linejoin="round" class="feather feather-box w-4 h-4 mr-2">
                        <path
                            d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z">
                        </path>
                        <polyline points="3.27 6.96 12 12.01 20.73 6.96"></polyline>
                        <line x1="12" y1="22.08" x2="12" y2="12"></line>
                    </svg> Saved Credit Cards </a>
                <a class="flex items-center mt-5" href=""> <svg xmlns="http://www.w3.org/2000/svg" width="24"
                        height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5"
                        stroke-linecap="round" stroke-linejoin="round" class="feather feather-lock w-4 h-4 mr-2">
                        <rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect>
                        <path d="M7 11V7a5 5 0 0 1 10 0v4"></path>
                    </svg> Social Networks </a>
                <a class="flex items-center mt-5" href=""> <svg xmlns="http://www.w3.org/2000/svg" width="24"
                        height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5"
                        stroke-linecap="round" stroke-linejoin="round" class="feather feather-settings w-4 h-4 mr-2">
                        <circle cx="12" cy="12" r="3"></circle>
                        <path
                            d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z">
                        </path>
                    </svg> Tax Information </a>
            </div>
            <div class="p-5 border-t border-gray-200 dark:border-dark-5 flex">
                <button type="button" class="btn btn-primary py-1 px-2">New Group</button>
                <button type="button" class="btn btn-outline-secondary py-1 px-2 ml-auto">New Quick Link</button>
            </div>
        </div>
    </div>
    <!-- END: Profile Menu -->
    <div class="col-span-12 lg:col-span-8 2xl:col-span-9">
        <div class="grid grid-cols-12 gap-6">
            <!-- BEGIN: Daily Sales -->
            <div class="intro-y box col-span-12 2xl:col-span-6">
                <div class="flex items-center px-5 py-5 sm:py-3 border-b border-gray-200 dark:border-dark-5">
                    <h2 class="font-medium text-base mr-auto">
                        Daily Sales
                    </h2>
                </div>
                <div class="p-5">
                </div>
            </div>
            <!-- END: Daily Sales -->
        </div>
    </div>
</div>

<!-- BEGIN: Slide Over Content -->
<div id="update-account-modal" class="modal modal-slide-over" data-backdrop="static" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content"> <a data-dismiss="modal" href="javascript:;"> <i data-feather="x"
                    class="w-8 h-8 text-gray-500"></i> </a> <!-- BEGIN: Slide Over Header -->
            <div class="modal-header">
                <h2 class="mr-auto text-base font-medium">Update Account</h2>
            </div> <!-- END: Slide Over Header -->
            <!-- BEGIN: Slide Over Body -->
            <div class="modal-body">
                @await Html.PartialAsync("../../Components/Form/FormMsg.cshtml")
                <form class="space-y-4 preview" id="updateUserForm">
                    @await Html.PartialAsync("../../Components/Form/TextField.cshtml",
                    new { Name = "name", Label = "Name", Type = "text", Value = user.Name })
                    @await Html.PartialAsync("../../Components/Form/TextField.cshtml",
                    new { Name = "email", Label = "Email", Type = "text", Value = user.Email })
                    @await Html.PartialAsync("../../Components/Form/TextField.cshtml",
                    new { Name = "address", Label = "Address", Type = "text", Value = user.Name })
                    @await Html.PartialAsync("../../Components/Form/TextField.cshtml",
                    new { Name = "phone", Label = "Phone", Type = "text", Value = user.Phone })
                    @await Html.PartialAsync("../../Components/Form/FormBtn.cshtml",
                    new { Label = "Update Information" })
                </form>

            </div>
            <!-- END: Slide Over Body -->

        </div>
    </div>
</div> <!-- END: Slide Over Content -->

<!-- BEGIN: Slide Over Content -->
<div id="change-password-modal" class="modal modal-slide-over" data-backdrop="static" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content"> <a data-dismiss="modal" href="javascript:;"> <i data-feather="x"
                    class="w-8 h-8 text-gray-500"></i> </a> <!-- BEGIN: Slide Over Header -->
            <div class="modal-header">
                <h2 class="mr-auto text-base font-medium">Change Password</h2>
            </div> <!-- END: Slide Over Header -->
            <!-- BEGIN: Slide Over Body -->
            <div class="modal-body">
                @await Html.PartialAsync("../../Components/Form/FormMsg.cshtml")
                <form class="space-y-4 preview" id="changeUserPasswordForm">
                    @await Html.PartialAsync("../../Components/Form/TextField.cshtml",
                    new { Name = "oldPassword", Label = "Old Password", Type = "password", Value = "" , PlaceHolder= ""
                    })
                    @await Html.PartialAsync("../../Components/Form/TextField.cshtml",
                    new { Name = "newPassword", Label = "New Password", Type = "password", Value = "" , PlaceHolder=
                    ""})
                    @await Html.PartialAsync("../../Components/Form/TextField.cshtml",
                    new { Name = "confirmNewPassword", Label = "Confirm New Password", Type = "password",
                    Value = "" , PlaceHolder= "" })
                    @await Html.PartialAsync("../../Components/Form/FormBtn.cshtml",
                    new { Label = "Update Password" })
                </form>

            </div>
            <!-- END: Slide Over Body -->

        </div>
    </div>
</div> <!-- END: Slide Over Content -->

@section Scripts {
<script src="/js/user-changePassword.js"></script>
<script src="/js/user-update.js"></script>
}
