@{
      ViewData["Title"] = Routers.Login.Title;
}



<div class="fixed top-0 left-0 flex items-center justify-center w-full min-h-screen bg-1">
      @* Content Start *@
      <div
            class="w-full px-2 py-8 space-y-4 bg-white border rounded-md shadow-xl md:px-4 md:py-16 md:w-96 fade-in bg-opacity-90">
            <h1 class="text-4xl font-semibold text-center">Login Account</h1>
            @* Form Start *@
            <form class="space-y-6 fade-in" id="loginForm">
                  @await Html.PartialAsync("../../Components/Form/User/TextField.cshtml",
                  new {Label="Username",Name="username", Type="text", Value=""})
                  @await Html.PartialAsync("../../Components/Form/User/TextField.cshtml",
                  new {Label="Password", Name="passord", Type="password", Value=""})
                  @await Html.PartialAsync("../../Components/Form/User/FormBtn.cshtml",
                  new {Label="Sign In" })
            </form>
            @* Form End *@

            @* Support Start *@
            <div class="space-y-2">
                  @await Html.PartialAsync("../../Components/Form/User/FormDivider.cshtml")
                  @await Html.PartialAsync("../../Components/Form/User/FormGoogle.cshtml")
                  @await Html.PartialAsync("../../Components/Form/User/FormBottomLink.cshtml",
                  new {Label="Register New Account Instead?", Link = Routers.Register.Link})
            </div>
            @* Support End *@
      </div>
      @* Content End *@
</div>


@section Scripts {

<script src="https://accounts.google.com/gsi/client" async defer></script>
<script src="/js/auth-login.js"></script>

}
