@using FPTBlog.Views.Components.Form;
@using Microsoft.AspNetCore.Html;

@{
    ViewData["Title"] = Routers.Login.Title;
    var formBuilder = new FormBuilder(this.Context, this.ViewData);
}


<div class="flex items-center justify-center flex-1 p-2 bg-2 ">
    <div
        class="w-full px-2 py-8 space-y-4 bg-white border rounded-md shadow-xl md:px-4 md:py-16 md:w-96 fade-in bg-opacity-90">
        @formBuilder.FormWrapper("Login Account", @Routers.Login.Link, "Sign In",new IHtmlContent[]
        {
        formBuilder.TextField("username","Username"),
        formBuilder.PasswordField("password", "Password")
        })

        <div class="space-y-2">
            <div class="flex items-center space-x-2">
                <div class="flex-1 h-0.5 bg-gray-600"></div>
                <div class="font-medium text-center opacity-90">
                    Or
                </div>
                <div class="flex-1 h-0.5 bg-gray-600"></div>
            </div>
            <div>
                @await Html.PartialAsync("~/Views/Components/Form/FormLoginGoogle.cshtml")
            </div>
            <div class="text-center">
                <a href="@Routers.Register.Link"
                    class="inline-block p-2 font-semibold duration-300 hover:text-tango-500">Register New
                    Account Instead?</a>
            </div>
        </div>
    </div>
</div>
@section Scripts {
<script src="https://accounts.google.com/gsi/client" async defer></script>

}