@{
    ViewData["Title"] = Routers.AuthPostLogin.Title;
}

@await Html.PartialAsync("../../Components/Common/SideLogo.cshtml")
<div class="fixed top-0 left-0 z-40 flex items-center justify-center w-full min-h-screen bg-1">
    @* Content Start *@
    <div
        class="w-full px-4 py-8 mx-2 space-y-4 bg-white border rounded-md shadow-xl md:px-4 md:py-16 md:w-96 intro-y bg-opacity-90">
        <h1 class="text-4xl font-semibold text-center">Login Account</h1>
        @* Form Start *@

        @await Html.PartialAsync("../../Components/Form/FormMsg.cshtml")
        <button id="model-role-open"
            class="flex items-center justify-center hidden px-4 py-2 text-sm font-medium text-white border border-transparent rounded-md shadow-sm bg-tango-500 hover:bg-tango-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-tango-500">Send
            Unlock Request</button>
        <form class="space-y-6 fade-in" id="loginForm">
            @await Html.PartialAsync("../../Components/Form/TextField.cshtml",
            new {Name="username", Label="Username", Type="text", Value=""})
            @await Html.PartialAsync("../../Components/Form/TextField.cshtml",
            new { Name="password", Label="Password", Type="password", Value=""})
            @await Html.PartialAsync("../../Components/Form/FormBtnNoLabel.cshtml",
            new {Label="Sign In" })
        </form>
        @* Form End *@

        @* Support Start *@
        <div class="space-y-2">
            @await Html.PartialAsync("../../Components/Form/FormDivider.cshtml")
            @await Html.PartialAsync("../../Components/Form/FormGoogle.cshtml")
            @await Html.PartialAsync("../../Components/Form/FormBottomLink.cshtml",
            new {Label="Register New Account Instead?", Link = Routers.AuthPostRegister.Link})
        </div>
        @* Support End *@
    </div>
    @* Content End *@
</div>


<div class="fixed inset-0 z-50 invisible overflow-y-auto" aria-labelledby="modal-title" role="dialog" aria-modal="true"
    id="modal-role-wrapper">
    <div class="flex items-end justify-center min-h-screen px-4 pt-4 pb-20 text-center sm:block sm:p-0">

        <div class="fixed inset-0 transition-opacity bg-gray-500 bg-opacity-75" aria-hidden="true" id="modal-role-bg">
        </div>
        <!-- This element is to trick the browser into centering the modal contents. -->
        <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>

        <div id="modal-role-panel"
            class="inline-block px-4 pt-5 pb-4 overflow-hidden text-left align-bottom transition-all transform bg-white rounded-lg shadow-xl sm:my-8 sm:align-middle sm:max-w-lg sm:w-full sm:p-6">
            <div class="absolute top-0 right-0 hidden pt-4 pr-4 sm:block">
                <button type="button" id="modal-role-btn-close"
                    class="text-gray-400 bg-white rounded-md hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-tango-500">
                    <span class="sr-only">Close</span>
                    <!-- Heroicon name: outline/x -->
                    <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </button>
            </div>
            <div class="w-full ">
                <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
                    <h3 class="text-lg font-medium leading-6 text-gray-900 ">
                        Unlock Account Request
                    </h3>


                    <div class="mt-2 space-y-2">
                        <p class="text-sm font-medium opacity-70">Please give us a reason for your case, we will
                            consider it as soon as posible
                            via your email,
                            thank you so much.</p>
                        @await Html.PartialAsync("../../../ViewsAdmin/Components/Form/TextareaField.cshtml",
                        new { Name = "description", Label = "Description", Value = "" })
                        <p class="text-xs font-medium opacity-70">This message will be sent to an administrator to
                            approve your
                            case </p>
                    </div>
                </div>
            </div>
            <div class="mt-5 sm:mt-4 sm:flex sm:flex-row-reverse">
                <button type="button"
                    class="inline-flex justify-center w-full px-4 py-2 text-base font-medium text-white border border-transparent rounded-md shadow-sm bg-tango-600 hover:bg-tango-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 sm:ml-3 sm:w-auto sm:text-sm">
                    Send
                </button>
                <button id="modal-role-btn-cancel" type="button"
                    class="inline-flex justify-center w-full px-4 py-2 mt-3 text-base font-medium text-gray-700 bg-white border border-gray-300 rounded-md shadow-sm hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-tango-500 sm:mt-0 sm:w-auto sm:text-sm">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>


@section Scripts {

<script src="https://accounts.google.com/gsi/client" async defer></script>
<script src="/js/auth-login.js"></script>

}
