@{
    ViewData["Title"] = Routers.Register.Title;
    var username = new FormField() { Label = "Username", Field = "username", Type = "text" };
    var password = new FormField() { Label = "Password", Field = "password", Type = "password" };
    var name = new FormField() { Label = "Name", Field = "name", Type = "text" };
    var confirmPassword = new FormField() { Label = "Confirm Password", Field = "confirmPassword", Type = "password" };
    var registerBtn = new FormField() { Label = "Register" };
}


<div>
    <form method="post" action="@Routers.Register.Link">
        <h1 class="text-4xl font-semibold text-center">Regsiter Account</h1>
        @await Html.PartialAsync("~/Views/Components/Form/FormMsg.cshtml")
        @await Html.PartialAsync("~/Views/Components/Form/TextFiled.cshtml", name)
        @await Html.PartialAsync("~/Views/Components/Form/TextFiled.cshtml", username)
        @await Html.PartialAsync("~/Views/Components/Form/TextFiled.cshtml", password)
        @await Html.PartialAsync("~/Views/Components/Form/TextFiled.cshtml", confirmPassword)
        @await Html.PartialAsync("~/Views/Components/Form/FormBtn.cshtml", registerBtn)
    </form>
</div>