@{
    ViewData["Title"] = Routers.Register.Title;
    var username = new FormField() { Label = "Username", Field = "username", Type = "text" };
    var password = new FormField() { Label = "Password", Field = "password", Type = "password" };
    var name = new FormField() { Label = "Name", Field = "name", Type = "text" };
    var confirmPassword = new FormField() { Label = "Confirm Password", Field = "confirmPassword", Type = "password" };
    var registerBtn = new FormField() { Label = "Register" };
}


<div class="flex items-center justify-center flex-1 py-2 bg-gradient-to-r from-yellow-400 via-red-500 to-pink-500">
    <form method="post" action="@Routers.Register.Link"
          class="flex-1 px-4 py-16 mx-2 space-y-8 bg-white rounded-md shadow-lg bg-opacity-90 md:mx-0 md:flex-none fade-in">
        <h1 class="text-4xl font-semibold text-center">Regsiter Account</h1>
        @await Html.PartialAsync("~/Views/Components/Form/FormMsg.cshtml")
        <div class="space-y-4">

            @await Html.PartialAsync("~/Views/Components/Form/TextFiled.cshtml", name)

            @await Html.PartialAsync("~/Views/Components/Form/TextFiled.cshtml", username)


            @await Html.PartialAsync("~/Views/Components/Form/TextFiled.cshtml", password)

            @await Html.PartialAsync("~/Views/Components/Form/TextFiled.cshtml", confirmPassword)
        </div>
        @await Html.PartialAsync("~/Views/Components/Form/FormBtn.cshtml", registerBtn)
    </form>
</div>