<main class="z-10 main">
      <div class="flex flex-1 overflow-hidden bg-big-stone-500">

            <div class="content ">
                  <div class="px-4 -mx-4 top-bar md:mx-0 md:px-0">
                        <!-- BEGIN: Breadcrumb -->
                        <div class="hidden mr-auto -intro-x breadcrumb sm:flex"> <a href="/">Go Back Home</a></div>
                        <!-- END: Breadcrumb -->
                        <!-- BEGIN: Account Menu -->
                        <div class="w-8 h-8 intro-x dropdown">
                              <div class="w-8 h-8 overflow-hidden rounded-full shadow-lg dropdown-toggle image-fit zoom-in" role="button" aria-expanded="false">
                                    <img alt="Tinker Tailwind HTML Admin Template" src="https://lh3.googleusercontent.com/a/AATXAJw4RT0zacWwhe3xpBy3H9fkEFbuBLOkuAbo0Udd=s96-c" id="user-avatar">
                              </div>
                              <div class="w-56 dropdown-menu">
                                    <div class="dropdown-menu__content box dark:bg-dark-6">
                                          <div class="p-4 border-b border-black border-opacity-5 dark:border-dark-3">
                                                <div class="font-medium" id="user-name">Pham Vinh Nhan</div>
                                                <div class="text-xs text-gray-600 mt-0.5 dark:text-gray-600" id="user-username"></div>
                                          </div>
                                          <div class="p-2">
                                                <a href="/user" class="flex items-center block p-2 transition duration-300 ease-in-out rounded-md hover:bg-gray-200 dark:hover:bg-dark-3">
                                                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="w-4 h-4 mr-2 feather feather-user">
                                                            <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                                                            <circle cx="12" cy="7" r="4"></circle>
                                                      </svg> Profile
                                                </a>

                                                <a href="/user/change-password" class="flex items-center block p-2 transition duration-300 ease-in-out rounded-md hover:bg-gray-200 dark:hover:bg-dark-3">
                                                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="w-4 h-4 mr-2 feather feather-lock">
                                                            <rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect>
                                                            <path d="M7 11V7a5 5 0 0 1 10 0v4"></path>
                                                      </svg> Change Password
                                                </a>
                                                <a href="https://github.com/MonoInfinity/fpt-blog" class="flex items-center block p-2 transition duration-300 ease-in-out rounded-md hover:bg-gray-200 dark:hover:bg-dark-3">
                                                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="w-4 h-4 mr-2 feather feather-help-circle">
                                                            <circle cx="12" cy="12" r="10"></circle>
                                                            <path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path>
                                                            <line x1="12" y1="17" x2="12.01" y2="17"></line>
                                                      </svg> About Project
                                                </a>
                                          </div>
                                          <div class="p-2 border-t border-black border-opacity-5 dark:border-dark-3">
                                                <a href="/auth/logout" class="flex items-center block p-2 transition duration-300 ease-in-out rounded-md hover:bg-gray-200 dark:hover:bg-dark-3">
                                                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="w-4 h-4 mr-2 feather feather-toggle-right">
                                                            <rect x="1" y="5" width="22" height="14" rx="7" ry="7"></rect>
                                                            <circle cx="16" cy="12" r="3"></circle>
                                                      </svg> Logout
                                                </a>
                                          </div>
                                    </div>
                              </div>
                        </div>
                        <!-- END: Account Menu -->
                  </div>
                  <div class="flex items-center mt-8 intro-y">
                        <h2 class="mr-auto text-lg font-medium">
                              Catagory Management
                        </h2>
                  </div>
                  <div class="grid grid-cols-12 gap-4 mt-5">
                        <div class="col-span-12 md:col-span-4">

                              <div class="intro-y box">
                                    <div class="flex flex-col items-center p-5 border-b border-gray-200 sm:flex-row dark:border-dark-5">
                                          <h2 class="mr-auto text-base font-medium">
                                                Create Category
                                          </h2>

                                    </div>
                                    <div id="vertical-form" class="p-5">
                                          <form class="space-y-4 preview" id="createCategoryForm">

                                                <div class="mt-2 text-green-500 pristine-error fade-in first-letter" id="MESSAGEERROR">
                                                </div>
                                                <div>
                                                      <label for="name" class="form-label" id="NAMELABEL">Name</label>
                                                      <input id="name" name="name" type="text" class="form-control">
                                                      <div class="mt-2 pristine-error text-primary-3" id="NAMEERROR"></div>
                                                </div>
                                                <div>
                                                      <label for="description" class="form-label" id="DESCRIPTIONLABEL">Description</label>
                                                      <input id="description" name="description" type="text" class="form-control">
                                                      <div class="mt-2 pristine-error text-primary-3" id="DESCRIPTIONERROR"></div>
                                                </div>

                                                <div>
                                                      <label>Status</label>
                                                      <div class="flex flex-col mt-2 sm:flex-row">
                                                            <div class="mr-2 form-check">
                                                                  <input id="status-active" class="form-check-input" type="radio" name="status" value="1" checked="">
                                                                  <label class="form-check-label" for="status-active">Active</label>
                                                            </div>
                                                            <div class="mt-2 mr-2 form-check sm:mt-0">
                                                                  <input id="status-inactive" class="form-check-input" type="radio" name="status" value="2">
                                                                  <label class="form-check-label" for="status-inactive">Inactive</label>
                                                            </div>
                                                      </div>
                                                </div>
                                                <div>
                                                      <button class="mt-5 btn btn-primary block" id="form-btn">Create New</button>
                                                      <div class="flex-col items-center justify-end hidden" id="loading">

                                                            <svg width="50" viewBox="0 0 135 140" xmlns="http://www.w3.org/2000/svg" fill="rgb(45, 55, 72)" class="w-8 h-8">
                                                                  <rect y="10" width="15" height="120" rx="6">
                                                                        <animate attributeName="height" begin="0.5s" dur="1s" values="120;110;100;90;80;70;60;50;40;140;120" calcMode="linear" repeatCount="indefinite"></animate>
                                                                        <animate attributeName="y" begin="0.5s" dur="1s" values="10;15;20;25;30;35;40;45;50;0;10" calcMode="linear" repeatCount="indefinite"></animate>
                                                                  </rect>
                                                                  <rect x="30" y="10" width="15" height="120" rx="6">
                                                                        <animate attributeName="height" begin="0.25s" dur="1s" values="120;110;100;90;80;70;60;50;40;140;120" calcMode="linear" repeatCount="indefinite"></animate>
                                                                        <animate attributeName="y" begin="0.25s" dur="1s" values="10;15;20;25;30;35;40;45;50;0;10" calcMode="linear" repeatCount="indefinite"></animate>
                                                                  </rect>
                                                                  <rect x="60" width="15" height="140" rx="6">
                                                                        <animate attributeName="height" begin="0s" dur="1s" values="120;110;100;90;80;70;60;50;40;140;120" calcMode="linear" repeatCount="indefinite"></animate>
                                                                        <animate attributeName="y" begin="0s" dur="1s" values="10;15;20;25;30;35;40;45;50;0;10" calcMode="linear" repeatCount="indefinite"></animate>
                                                                  </rect>
                                                                  <rect x="90" y="10" width="15" height="120" rx="6">
                                                                        <animate attributeName="height" begin="0.25s" dur="1s" values="120;110;100;90;80;70;60;50;40;140;120" calcMode="linear" repeatCount="indefinite"></animate>
                                                                        <animate attributeName="y" begin="0.25s" dur="1s" values="10;15;20;25;30;35;40;45;50;0;10" calcMode="linear" repeatCount="indefinite"></animate>
                                                                  </rect>
                                                                  <rect x="120" y="10" width="15" height="120" rx="6">
                                                                        <animate attributeName="height" begin="0.5s" dur="1s" values="120;110;100;90;80;70;60;50;40;140;120" calcMode="linear" repeatCount="indefinite"></animate>
                                                                        <animate attributeName="y" begin="0.5s" dur="1s" values="10;15;20;25;30;35;40;45;50;0;10" calcMode="linear" repeatCount="indefinite"></animate>
                                                                  </rect>
                                                            </svg>
                                                      </div>
                                                </div>
                                          </form>

                                    </div>
                              </div>

                        </div>

                        <div class="col-span-12 md:col-span-8 intro-y box">
                              <div class="flex flex-col items-center p-5 border-b border-gray-200 sm:flex-row">
                                    <h2 class="mr-auto text-base font-medium">
                                          Category
                                    </h2>

                              </div>
                              <div class="p-5" id="hoverable-table">
                                    <div class="preview" style="display: block; opacity: 1;">
                                          <div class="overflow-x-auto">
                                                <table class="table">
                                                      <thead>
                                                            <tr>
                                                                  <th class="border border-b-2 dark:border-dark-5 whitespace-nowrap">
                                                                        Category ID
                                                                  </th>
                                                                  <th class="border border-b-2 dark:border-dark-5 whitespace-nowrap">
                                                                        Name
                                                                  </th>
                                                                  <th class="border border-b-2 dark:border-dark-5 whitespace-nowrap">
                                                                        Description
                                                                  </th>
                                                                  <th class="border border-b-2 dark:border-dark-5 whitespace-nowrap">Status</th>
                                                                  <th class="border border-b-2 dark:border-dark-5 whitespace-nowrap">
                                                                        Create Date
                                                                  </th>
                                                                  <th class="border border-b-2 dark:border-dark-5 whitespace-nowrap">Edit</th>

                                                            </tr>
                                                      </thead>
                                                      <tbody>

                                                            <tr class="hover:bg-gray-200">
                                                                  <td class="border">2866e4d4-4138-4ee7-9087-2d2215d0aaa2</td>
                                                                  <td class="border">Japanese Language Department</td>
                                                                  <td class="border">Description</td>
                                                                  <td class="border">

                                                                        <div class="flex items-center text-theme-20">
                                                                              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="w-4 h-4 mr-2 feather feather-check-square">
                                                                                    <polyline points="9 11 12 14 22 4"></polyline>
                                                                                    <path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11">
                                                                                    </path>
                                                                              </svg> Active
                                                                        </div>



                                                                  </td>
                                                                  <td class="border">9/23/2021</td>
                                                                  <td class="border">
                                                                        <a href="/admin/category/update?categoryId=2866e4d4-4138-4ee7-9087-2d2215d0aaa2" class="mb-2 mr-1 btn btn-primary"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-2 w-5 h-5"><path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path></svg> </a>

                                                                  </td>
                                                            </tr>
                                                            <tr class="hover:bg-gray-200">
                                                                  <td class="border">35754c21-bfca-4a4d-8c6c-85a6b1f05cf1</td>
                                                                  <td class="border">Freestyle</td>
                                                                  <td class="border">Description</td>
                                                                  <td class="border">

                                                                        <div class="flex items-center text-theme-20">
                                                                              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="w-4 h-4 mr-2 feather feather-check-square">
                                                                                    <polyline points="9 11 12 14 22 4"></polyline>
                                                                                    <path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11">
                                                                                    </path>
                                                                              </svg> Active
                                                                        </div>



                                                                  </td>
                                                                  <td class="border">9/23/2021</td>
                                                                  <td class="border">
                                                                        <a href="/admin/category/update?categoryId=35754c21-bfca-4a4d-8c6c-85a6b1f05cf1" class="mb-2 mr-1 btn btn-primary"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-2 w-5 h-5"><path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path></svg> </a>

                                                                  </td>
                                                            </tr>
                                                            <tr class="hover:bg-gray-200">
                                                                  <td class="border">507a96f9-40c9-44fe-a776-1653632d9d01</td>
                                                                  <td class="border">Business Administration</td>
                                                                  <td class="border">Description</td>
                                                                  <td class="border">

                                                                        <div class="flex items-center text-theme-20">
                                                                              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="w-4 h-4 mr-2 feather feather-check-square">
                                                                                    <polyline points="9 11 12 14 22 4"></polyline>
                                                                                    <path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11">
                                                                                    </path>
                                                                              </svg> Active
                                                                        </div>



                                                                  </td>
                                                                  <td class="border">9/23/2021</td>
                                                                  <td class="border">
                                                                        <a href="/admin/category/update?categoryId=507a96f9-40c9-44fe-a776-1653632d9d01" class="mb-2 mr-1 btn btn-primary"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-2 w-5 h-5"><path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path></svg> </a>

                                                                  </td>
                                                            </tr>
                                                            <tr class="hover:bg-gray-200">
                                                                  <td class="border">5dfd44dc-7e00-4697-85cc-6560dc644b11</td>
                                                                  <td class="border">Graphic Design</td>
                                                                  <td class="border">Description</td>
                                                                  <td class="border">

                                                                        <div class="flex items-center text-theme-20">
                                                                              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="w-4 h-4 mr-2 feather feather-check-square">
                                                                                    <polyline points="9 11 12 14 22 4"></polyline>
                                                                                    <path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11">
                                                                                    </path>
                                                                              </svg> Active
                                                                        </div>



                                                                  </td>
                                                                  <td class="border">9/23/2021</td>
                                                                  <td class="border">
                                                                        <a href="/admin/category/update?categoryId=5dfd44dc-7e00-4697-85cc-6560dc644b11" class="mb-2 mr-1 btn btn-primary"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-2 w-5 h-5"><path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path></svg> </a>

                                                                  </td>
                                                            </tr>
                                                            <tr class="hover:bg-gray-200">
                                                                  <td class="border">7864bf9d-6585-4536-8e1f-f54da4d82f3d</td>
                                                                  <td class="border">English Language Department</td>
                                                                  <td class="border">Description</td>
                                                                  <td class="border">

                                                                        <div class="flex items-center text-theme-20">
                                                                              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="w-4 h-4 mr-2 feather feather-check-square">
                                                                                    <polyline points="9 11 12 14 22 4"></polyline>
                                                                                    <path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11">
                                                                                    </path>
                                                                              </svg> Active
                                                                        </div>



                                                                  </td>
                                                                  <td class="border">9/23/2021</td>
                                                                  <td class="border">
                                                                        <a href="/admin/category/update?categoryId=7864bf9d-6585-4536-8e1f-f54da4d82f3d" class="mb-2 mr-1 btn btn-primary"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-2 w-5 h-5"><path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path></svg> </a>

                                                                  </td>
                                                            </tr>
                                                            <tr class="hover:bg-gray-200">
                                                                  <td class="border">90e51b8b-169d-4923-9b2e-4d3d8e8540d0</td>
                                                                  <td class="border">Event</td>
                                                                  <td class="border">Description</td>
                                                                  <td class="border">

                                                                        <div class="flex items-center text-theme-20">
                                                                              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="w-4 h-4 mr-2 feather feather-check-square">
                                                                                    <polyline points="9 11 12 14 22 4"></polyline>
                                                                                    <path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11">
                                                                                    </path>
                                                                              </svg> Active
                                                                        </div>



                                                                  </td>
                                                                  <td class="border">9/23/2021</td>
                                                                  <td class="border">
                                                                        <a href="/admin/category/update?categoryId=90e51b8b-169d-4923-9b2e-4d3d8e8540d0" class="mb-2 mr-1 btn btn-primary"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-2 w-5 h-5"><path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path></svg> </a>

                                                                  </td>
                                                            </tr>
                                                            <tr class="hover:bg-gray-200">
                                                                  <td class="border">b6ba80de-7dcb-40f1-adce-1ac3a9b1019d</td>
                                                                  <td class="border">Artificial Intelligence</td>
                                                                  <td class="border">Description</td>
                                                                  <td class="border">

                                                                        <div class="flex items-center text-theme-20">
                                                                              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="w-4 h-4 mr-2 feather feather-check-square">
                                                                                    <polyline points="9 11 12 14 22 4"></polyline>
                                                                                    <path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11">
                                                                                    </path>
                                                                              </svg> Active
                                                                        </div>



                                                                  </td>
                                                                  <td class="border">9/23/2021</td>
                                                                  <td class="border">
                                                                        <a href="/admin/category/update?categoryId=b6ba80de-7dcb-40f1-adce-1ac3a9b1019d" class="mb-2 mr-1 btn btn-primary"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-2 w-5 h-5"><path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path></svg> </a>

                                                                  </td>
                                                            </tr>
                                                            <tr class="hover:bg-gray-200">
                                                                  <td class="border">bba00984-c660-406d-8688-eaa20e488220</td>
                                                                  <td class="border">Information Assurance</td>
                                                                  <td class="border">Description</td>
                                                                  <td class="border">

                                                                        <div class="flex items-center text-theme-20">
                                                                              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="w-4 h-4 mr-2 feather feather-check-square">
                                                                                    <polyline points="9 11 12 14 22 4"></polyline>
                                                                                    <path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11">
                                                                                    </path>
                                                                              </svg> Active
                                                                        </div>



                                                                  </td>
                                                                  <td class="border">9/23/2021</td>
                                                                  <td class="border">
                                                                        <a href="/admin/category/update?categoryId=bba00984-c660-406d-8688-eaa20e488220" class="mb-2 mr-1 btn btn-primary"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-2 w-5 h-5"><path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path></svg> </a>

                                                                  </td>
                                                            </tr>
                                                            <tr class="hover:bg-gray-200">
                                                                  <td class="border">fd6f7bad-8de1-474c-923f-3a2377902761</td>
                                                                  <td class="border">Software Engineering</td>
                                                                  <td class="border">Description</td>
                                                                  <td class="border">

                                                                        <div class="flex items-center text-theme-20">
                                                                              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="w-4 h-4 mr-2 feather feather-check-square">
                                                                                    <polyline points="9 11 12 14 22 4"></polyline>
                                                                                    <path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11">
                                                                                    </path>
                                                                              </svg> Active
                                                                        </div>



                                                                  </td>
                                                                  <td class="border">9/23/2021</td>
                                                                  <td class="border">
                                                                        <a href="/admin/category/update?categoryId=fd6f7bad-8de1-474c-923f-3a2377902761" class="mb-2 mr-1 btn btn-primary"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-2 w-5 h-5"><path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path></svg> </a>

                                                                  </td>
                                                            </tr>
                                                      </tbody>
                                                </table>
                                          </div>
                                    </div>


                              </div>
                        </div>
                  </div>



            </div>

      </div>


</main>
