<main class="z-10 main">
      @await Html.PartialAsync("../../../Components/Admin/Navbar/NavbarMobile.cshtml")
      <div class="flex flex-1 overflow-hidden bg-big-stone-500">
            @await Html.PartialAsync("../../../Components/Admin/Navbar/NavbarSideMenu.cshtml")
            <div class="content">



            </div>
      </div>
</main>
