@{
    var ThisMonth = (decimal)Model.ThisMonth;
    var LastMonth = (decimal)Model.LastMonth;

    var value = ThisMonth == 0 || LastMonth == 0 ? "0" : ((Math.Abs((ThisMonth - LastMonth) / LastMonth)) *
    100).ToString("0.00");
}

@if (ThisMonth > LastMonth || LastMonth == 0)
{
    <div
    class="inline-flex items-baseline px-2.5 py-0.5 rounded-full text-sm font-medium bg-green-100 text-green-800 md:mt-2 lg:mt-0">
        <svg viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
        class="-ml-1 mr-0.5 flex-shrink-0 self-center h-5 w-5 text-green-500">
            <path fill-rule="evenodd" clip-rule="evenodd"
            d="M5.293 9.707a1 1 0 010-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 01-1.414 1.414L11 7.414V15a1 1 0 11-2 0V7.414L6.707 9.707a1 1 0 01-1.414 0z" />
        </svg>
        <span class="sr-only">
            Increased by
        </span>
        @value%
    </div>
}
else
{

    <div
    class="inline-flex items-baseline px-2.5 py-0.5 rounded-full text-sm font-medium bg-red-100 text-red-800 md:mt-2 lg:mt-0">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true"
        class="-ml-1 mr-0.5 flex-shrink-0 self-center h-5 w-5 text-red-500">
            <path fill-rule="evenodd" clip-rule="evenodd"
            d="M14.707 10.293a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 111.414-1.414L9 12.586V5a1 1 0 012 0v7.586l2.293-2.293a1 1 0 011.414 0z" />
        </svg>
        <span class="sr-only">
            Decreased by
        </span>
        @value%
    </div>
}
