<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="apple-touch-icon" sizes="57x57" href="~/header/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/header/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/header/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/header/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/header/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/header/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/header/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/header/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/header/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/header/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/header/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/header/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/header/favicon-16x16.png">
    <link rel="manifest" href="~/header/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="~/header/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <title>Management System | FPT Blog</title>


    <link href="/style/styles.css" rel="stylesheet" />
    <link href="/style/toastify.css" rel="stylesheet">
</head>

<body>
    <main class="relative">
        @await Html.PartialAsync("../../ViewsAdmin/Components/Navbar/Index.cshtml",RenderBody())
    </main>


    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
