<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>@ViewData["Title"] - FPTBlog</title>
      @await RenderSectionAsync("Styles", required: false)
      <link href="/style/styles.css" rel="stylesheet" />
</head>

<body>
      <main class="relative">
            @RenderBody()
      </main>

      <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

      @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
