<div class="px-4 py-4 bg-alabaster-500">
    <div class="mx-auto space-y-4 md:w-4/5">
        <div class="flex flex-col items-start justify-between space-y-4 md:flex-row md:space-y-0">
            <div class="space-y-2 md:w-1/3">
                <h3 class="font-semibold">Contact Us</h3>

                <div class="flex items-center space-x-2 text-sm">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0)">
                            <path
                                d="M15.5646 11.7424L13.3317 9.50954C12.5343 8.71209 11.1786 9.0311 10.8596 10.0678C10.6204 10.7855 9.82296 11.1842 9.10526 11.0247C7.51037 10.626 5.35726 8.5526 4.95854 6.87797C4.71931 6.16024 5.19778 5.36279 5.91548 5.12359C6.95216 4.80461 7.27113 3.44895 6.47369 2.65151L4.24084 0.418659C3.60288 -0.139553 2.64595 -0.139553 2.08774 0.418659L0.572591 1.93381C-0.942555 3.5287 0.73208 7.75516 4.48007 11.5032C8.22807 15.2511 12.4545 17.0056 14.0494 15.4106L15.5646 13.8955C16.1228 13.2575 16.1228 12.3006 15.5646 11.7424Z"
                                fill="black" />
                        </g>
                        <defs>
                            <clipPath id="clip0">
                                <rect width="16" height="16" fill="white" />
                            </clipPath>
                        </defs>
                    </svg>
                    <a href="tel:0901219999" class="block duration-300 hover:text-tango-500">0901219999</a>
                </div>

                <div class="flex items-center space-x-2 text-sm">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0)">
                            <path
                                d="M15.9883 3.44673C15.9883 3.42845 16.0009 3.41065 16.0001 3.39258L11.1174 8.09728L15.9943 12.6517C15.9971 12.6192 15.9883 12.5863 15.9883 12.5531V3.44673V3.44673Z"
                                fill="black" />
                            <path
                                d="M10.372 8.82129L8.37874 10.739C8.27788 10.8361 8.14761 10.8847 8.01727 10.8847C7.88965 10.8847 7.76202 10.8382 7.66185 10.7448L5.67403 8.89247L0.765381 13.6239C0.884736 13.6667 1.01285 13.7 1.14701 13.7H14.8876C15.0868 13.7 15.2737 13.6394 15.4361 13.5488L10.372 8.82129Z"
                                fill="black" />
                            <path
                                d="M8.01169 9.64548L15.4633 2.4674C15.2946 2.36709 15.0982 2.2998 14.8877 2.2998H1.14713C0.873035 2.2998 0.621881 2.40623 0.42627 2.56855L8.01169 9.64548Z"
                                fill="black" />
                            <path
                                d="M0 3.62207V12.5535C0 12.656 0.0235652 12.7549 0.0491463 12.8493L4.8969 8.18107L0 3.62207Z"
                                fill="black" />
                        </g>
                        <defs>
                            <clipPath id="clip0">
                                <rect width="16" height="16" fill="white" />
                            </clipPath>
                        </defs>
                    </svg>
                    <a href="mailto:heaty566@gmail.com"
                        class="block duration-300 hover:text-tango-500">heaty566@gmail.com</a>
                </div>
                <div class="flex items-center space-x-2 text-sm">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0)">
                            <path
                                d="M12.7369 2.73992C11.7658 1.06417 10.0411 0.0403906 8.12313 0.00126563C8.04125 -0.000421875 7.95885 -0.000421875 7.87694 0.00126563C5.95901 0.0403906 4.23425 1.06417 3.26319 2.73992C2.27063 4.4528 2.24347 6.5103 3.19054 8.24376L7.15813 15.5059C7.15991 15.5091 7.16169 15.5123 7.16354 15.5155C7.3381 15.8189 7.65082 16 8.0001 16C8.34935 16 8.66207 15.8189 8.8366 15.5155C8.83844 15.5123 8.84022 15.5091 8.842 15.5059L12.8096 8.24376C13.7566 6.5103 13.7294 4.4528 12.7369 2.73992V2.73992ZM8.00004 7.25002C6.75938 7.25002 5.75004 6.24067 5.75004 5.00002C5.75004 3.75936 6.75938 2.75002 8.00004 2.75002C9.24069 2.75002 10.25 3.75936 10.25 5.00002C10.25 6.24067 9.24072 7.25002 8.00004 7.25002Z"
                                fill="black" />
                        </g>
                        <defs>
                            <clipPath id="clip0">
                                <rect width="16" height="16" fill="white" />
                            </clipPath>
                        </defs>
                    </svg>

                    <a class="block duration-300 hover:text-tango-500">Lô E2a-7, Đường D1, Khu Công Nghệ Cao</a>
                </div>
            </div>
            <img src="/images/logo.png" alt="FPT University" />
        </div>
        <div class="flex items-center justify-between">
            <div class="font-semibold ">Mono Infinity © 2021</div>
            <a href="https://github.com/MonoInfinity/fpt-blog" target="_blank">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M12.25 2.25C9.8755 2.2501 7.57849 3.09511 5.76999 4.63385C3.96149 6.17258 2.75953 8.30462 2.37916 10.6485C1.99879 12.9923 2.46485 15.3951 3.69393 17.4268C4.92301 19.4584 6.83491 20.9865 9.08755 21.7375C9.58755 21.825 9.77505 21.525 9.77505 21.2625C9.77505 21.025 9.76254 20.2375 9.76254 19.4C7.25003 19.8625 6.60003 18.7875 6.40003 18.225C6.1781 17.678 5.8263 17.1931 5.37503 16.8125C5.02503 16.625 4.52503 16.1625 5.36252 16.15C5.6823 16.1847 5.98901 16.296 6.25666 16.4744C6.5243 16.6528 6.74499 16.8932 6.90003 17.175C7.0368 17.4207 7.22071 17.637 7.44122 17.8115C7.66173 17.986 7.9145 18.1153 8.18506 18.1919C8.45562 18.2685 8.73864 18.291 9.01791 18.2581C9.29717 18.2252 9.5672 18.1375 9.81251 18C9.8558 17.4916 10.0824 17.0163 10.45 16.6625C8.22503 16.4125 5.90003 15.55 5.90003 11.725C5.88597 10.7312 6.25271 9.76961 6.92503 9.03753C6.61931 8.17375 6.65508 7.22581 7.02503 6.38753C7.02503 6.38753 7.8625 6.12502 9.77503 7.41253C11.4113 6.9625 13.1387 6.9625 14.775 7.41253C16.6875 6.11253 17.525 6.38753 17.525 6.38753C17.895 7.2258 17.9308 8.17376 17.625 9.03753C18.2994 9.76835 18.6664 10.7308 18.65 11.725C18.65 15.5625 16.3125 16.4125 14.0875 16.6625C14.3262 16.9044 14.51 17.1948 14.6264 17.514C14.7429 17.8333 14.7893 18.1738 14.7625 18.5125C14.7625 19.85 14.75 20.925 14.75 21.2625C14.75 21.525 14.9375 21.8375 15.4375 21.7375C17.6862 20.9804 19.5926 19.4488 20.8164 17.416C22.0403 15.3833 22.5019 12.9818 22.1189 10.6402C21.7359 8.29864 20.5332 6.16937 18.7255 4.63251C16.9178 3.09565 14.6227 2.25123 12.25 2.25V2.25Z"
                        fill="black" />
                </svg>

            </a>



        </div>
    </div>
</div>
