@using FPTBlog.Src.BlogModule.Entity
@{
    @* this.ViewData["blogs"] = blogs;
        this.ViewData["total"] = total; *@
    var blogs = (List<Post>)this.ViewData["drafts"];
    Console.WriteLine(blogs.Count);
}


<div>
    <button class="p-2 font-medium text-white rounded-sm bg-tango-500" id="createNewPost">New Post</button>
</div>
<div>
    <h1 class="text-2xl font-semibold">My Draft</h1>
</div>
<div class="flex flex-wrap p-2 border">
    @foreach (var item in blogs)
    {

        var link = $"{Routers.GetBlogEditor.Link}?blogId={item.PostId}";

        <a href="@link"
        class="flex flex-col items-center justify-center p-2 m-2 duration-300 border rounded-md shadow-xl cursor-pointer hover:bg-alabaster-600 bg-alabaster-500">
            <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                d="M21.3333 45.8662H19.2C18.6109 45.8662 18.1333 46.3438 18.1333 46.9329C18.1333 47.5219 18.6109 47.9995 19.2 47.9995H21.3333C21.9224 47.9995 22.4 47.5219 22.4 46.9329C22.4 46.3438 21.9224 45.8662 21.3333 45.8662Z"
                fill="#292D32" />
                <path
                d="M51.1999 45.8662H25.5999C25.0108 45.8662 24.5332 46.3438 24.5332 46.9329C24.5332 47.5219 25.0108 47.9995 25.5999 47.9995H51.1999C51.7889 47.9995 52.2665 47.5219 52.2665 46.9329C52.2665 46.3438 51.7889 45.8662 51.1999 45.8662Z"
                fill="#292D32" />
                <path
                d="M21.3333 39.4668H19.2C18.6109 39.4668 18.1333 39.9444 18.1333 40.5335C18.1333 41.1225 18.6109 41.6001 19.2 41.6001H21.3333C21.9224 41.6001 22.4 41.1225 22.4 40.5335C22.4 39.9444 21.9224 39.4668 21.3333 39.4668Z"
                fill="#292D32" />
                <path
                d="M51.1999 39.4668H25.5999C25.0108 39.4668 24.5332 39.9444 24.5332 40.5335C24.5332 41.1225 25.0108 41.6001 25.5999 41.6001H51.1999C51.7889 41.6001 52.2665 41.1225 52.2665 40.5335C52.2665 39.9444 51.7889 39.4668 51.1999 39.4668Z"
                fill="#292D32" />
                <path
                d="M21.3333 33.0664H19.2C18.6109 33.0664 18.1333 33.544 18.1333 34.1331C18.1333 34.7221 18.6109 35.1997 19.2 35.1997H21.3333C21.9224 35.1997 22.4 34.7221 22.4 34.1331C22.4 33.544 21.9224 33.0664 21.3333 33.0664Z"
                fill="#292D32" />
                <path
                d="M51.1999 33.0664H25.5999C25.0108 33.0664 24.5332 33.544 24.5332 34.1331C24.5332 34.7221 25.0108 35.1997 25.5999 35.1997H51.1999C51.7889 35.1997 52.2665 34.7221 52.2665 34.1331C52.2665 33.544 51.7889 33.0664 51.1999 33.0664Z"
                fill="#292D32" />
                <path
                d="M21.3333 26.667H19.2C18.6109 26.667 18.1333 27.1446 18.1333 27.7337C18.1333 28.3227 18.6109 28.8003 19.2 28.8003H21.3333C21.9224 28.8003 22.4 28.3227 22.4 27.7337C22.4 27.1446 21.9224 26.667 21.3333 26.667Z"
                fill="#292D32" />
                <path
                d="M51.1999 26.667H25.5999C25.0108 26.667 24.5332 27.1446 24.5332 27.7337C24.5332 28.3227 25.0108 28.8003 25.5999 28.8003H51.1999C51.7889 28.8003 52.2665 28.3227 52.2665 27.7337C52.2665 27.1446 51.7889 26.667 51.1999 26.667Z"
                fill="#292D32" />
                <path
                d="M21.3333 20.2666H19.2C18.6109 20.2666 18.1333 20.7442 18.1333 21.3333C18.1333 21.9223 18.6109 22.3999 19.2 22.3999H21.3333C21.9224 22.3999 22.4 21.9223 22.4 21.3333C22.4 20.7442 21.9224 20.2666 21.3333 20.2666Z"
                fill="#292D32" />
                <path
                d="M51.1999 20.2666H25.5999C25.0108 20.2666 24.5332 20.7442 24.5332 21.3333C24.5332 21.9223 25.0108 22.3999 25.5999 22.3999H51.1999C51.7889 22.3999 52.2665 21.9223 52.2665 21.3333C52.2665 20.7442 51.7889 20.2666 51.1999 20.2666Z"
                fill="#292D32" />
                <path
                d="M58.653 15.9328C58.6476 15.8393 58.6294 15.7471 58.5986 15.6587C58.5868 15.6245 58.5783 15.5915 58.5634 15.5584C58.5115 15.4424 58.4392 15.3365 58.35 15.2459L43.4167 0.312533C43.326 0.223333 43.2202 0.151067 43.1042 0.0992C43.0711 0.0842667 43.038 0.0757333 43.005 0.064C42.9158 0.0333333 42.8228 0.0146667 42.7287 0.00853333C42.7106 0.0117333 42.6903 0 42.6668 0H12.8002C12.2111 0 11.7335 0.4776 11.7335 1.06667V4.26667H6.40016C5.8111 4.26667 5.3335 4.74427 5.3335 5.33333V62.9333C5.3335 63.5224 5.8111 64 6.40016 64H51.2002C51.7892 64 52.2668 63.5224 52.2668 62.9333V57.6H57.6002C58.1892 57.6 58.6668 57.1224 58.6668 56.5333V16C58.6668 15.9765 58.6551 15.9563 58.653 15.9328ZM43.7335 3.6416L55.0252 14.9333H43.7335V3.6416ZM50.1335 61.8667H7.46683V6.4H11.7335V56.5333C11.7335 57.1224 12.2111 57.6 12.8002 57.6H50.1335V61.8667ZM56.5335 55.4667H13.8668V2.13333H41.6002V16C41.6002 16.5891 42.0778 17.0667 42.6668 17.0667H56.5335V55.4667Z"
                fill="#292D32" />
                <path
                d="M25.6 9.59961H19.2C18.6109 9.59961 18.1333 10.0772 18.1333 10.6663V17.0663C18.1333 17.6553 18.6109 18.1329 19.2 18.1329H25.6C26.189 18.1329 26.6666 17.6553 26.6666 17.0663V10.6663C26.6666 10.0772 26.189 9.59961 25.6 9.59961ZM24.5333 15.9996H20.2666V11.7329H24.5333V15.9996Z"
                fill="#292D32" />
            </svg>

            <p class="text-shark-500">@item.Title</p>
        </a>
    }
</div>


@section Scripts {
<script src="/js/blog-create.js"></script>
}
