@using FPTBlog.Src.PostModule.Entity
@using Microsoft.AspNetCore.Html
@section Styles {
<link href="https://cdn.quilljs.com/1.3.7/quill.snow.css" rel="stylesheet">
<link href="/style/restore.css" rel="stylesheet">
<link href="/style/toastify.css" rel="stylesheet">


}


@{
    SelectList categories = (SelectList)this.ViewData["categories"];

    var post = (Post)this.ViewData["post"];
    var content = new HtmlString(post.Content);

    this.ViewData["Title"] = post.Title;
    var previewLink = $"{Routers.PostGetPreview.Link}?postId={post.PostId}";
}

@await Html.PartialAsync("../../Components/Form/FormToastify.cshtml")

<div class="flex-1 max-w-3xl px-4 pb-16 mx-auto lg:pt-8 intro-y">

    <div class="space-y-4" id="createBlogForm">
        <div class="flex items-center justify-between">

            <h1 class="text-2xl font-semibold">Editor Post</h1>

        </div>

        @if (post.Note != "" && post.Status == PostStatus.DENY)
        {
            <div class="space-y-2">
                <h2 class="block font-semibold capitalize">Comment</h2>
                <div class="p-2 border border-red-500 rounded-sm fade-in">

                    <p>
                        @post.Note
                    </p>

                    <p class="mt-2 text-xs text-red-500">
                        This message is created by a lecturer, please change your post and submit again.
                    </p>
                </div>
            </div>
        }


        @await Html.PartialAsync("../../Components/Form/FormHidden.cshtml",
        new {Name="postId", Value=post.PostId})
        @await Html.PartialAsync("../../Components/Form/FormHidden.cshtml",
        new {Name="coverUrl", Value=post.CoverUrl})
        @await Html.PartialAsync("../../Components/Form/TextField.cshtml",
        new {Name="title", Label="Title", Type="text", Value=post.Title})

        <div class="flex flex-col space-y-2 lg:space-y-0 lg:space-x-2 md:flex-row">
            <div class="flex-1">

                @await Html.PartialAsync("../../Components/Form/FormDropList.cshtml",
                new {Name="categoryId", Label="Category", Value=post.CategoryId, List=categories})
            </div>
            @await Html.PartialAsync("../../Components/Form/FormSelectBadge.cshtml",
            new {Name="tag", Label="Tag", Value="", Placeholder ="Enter tag"})
        </div>


        <div class="flex flex-col flex-1 space-y-1">
            <p class="font-semibold">Content</p>

            <div class="">
                <div id="editor" class="flex-1 min-h-120">
                    @content
                </div>
            </div>
        </div>
        <div>
        </div>
        <div class="flex flex-col space-y-2 lg:space-y-0 lg:space-x-2 md:items-center md:flex-row">
            @await Html.PartialAsync("../../Components/Form/FormBtn.cshtml",
            new { Label="Save Changes", Icon = "../../Components/Icons/Save.cshtml"})
            <a href="@previewLink" target="_blank"
                onclick="return confirm('Do you save your post, click ok to go to preview page?')"
                class="inline-flex items-center px-4 py-2 text-sm font-medium text-white duration-200 border border-transparent rounded-md shadow-sm bg-tango-500 hover:bg-tango-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-tango-500">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 mr-2 -ml-1" viewBox="0 0 20 20"
                    fill="currentColor">
                    <path d="M10 12a2 2 0 100-4 2 2 0 000 4z" />
                    <path fill-rule="evenodd"
                        d="M.458 10C1.732 5.943 5.522 3 10 3s8.268 2.943 9.542 7c-1.274 4.057-5.064 7-9.542 7S1.732 14.057.458 10zM14 10a4 4 0 11-8 0 4 4 0 018 0z"
                        clip-rule="evenodd" />
                </svg>
                Preview
            </a>
            <button id="post-send"
                class="inline-flex items-center px-4 py-2 text-sm font-medium text-white duration-200 border border-transparent rounded-md shadow-sm bg-tango-500 hover:bg-tango-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-tango-500">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 mr-2 -ml-1" viewBox="0 0 20 20"
                    fill="currentColor">
                    <path fill-rule="evenodd"
                        d="M3 17a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM6.293 6.707a1 1 0 010-1.414l3-3a1 1 0 011.414 0l3 3a1 1 0 01-1.414 1.414L11 5.414V13a1 1 0 11-2 0V5.414L7.707 6.707a1 1 0 01-1.414 0z"
                        clip-rule="evenodd" />
                </svg>
                Submit Post Request
            </button>
        </div>
    </div>
</div>

@section Scripts {
<script src="https://cdn.quilljs.com/1.3.7/quill.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="/js/image-resize.min.js"></script>
<script src="/js/post-editor.js"></script>
}
