@using FPTBlog.Src.BlogModule.Entity
@using FPTBlog.Src.CategoryModule.Entity
@using Microsoft.AspNetCore.Html
@section Styles {
<link href="https://cdn.quilljs.com/1.3.7/quill.snow.css" rel="stylesheet">
}


@{
    SelectList categories = (SelectList)this.ViewData["categories"];

    var blog = (Blog)this.ViewData["blog"];
    var content = new HtmlString(blog.Content);

    this.ViewData["Title"] = blog.Title;

}

<div class="flex-1 ">

    <form class="w-screen px-2 py-8 mx-auto space-y-4 md:max-w-screen-lg" id="createBlogForm">
        <h1 class="text-2xl font-semibold">Create New Blog</h1>
        <input value="@blog.BlogId" id="blogId" class="hidden" readonly />
        @await Html.PartialAsync("../../Components/Form/TextField.cshtml",
        new {Name="title", Label="Title", Type="text", Value=blog.Title})
        @await Html.PartialAsync("../../Components/Form/FormDropList.cshtml",
        new {Name="categoryId", Label="Category", Value=blog.CategoryId, List=categories})
        @await Html.PartialAsync("../../Components/Form/FormSelectBadge.cshtml",
        new {Name="tag", Label="Tag", Value="", Placeholder ="Enter tag"})


        <div class="flex flex-col flex-1 space-y-1">
            <p class="font-semibold">Content</p>

            <div class="">
                <div id="editor" class="flex-1 min-h-120">
                    @content
                </div>
            </div>
        </div>
        <div>
            @await Html.PartialAsync("../../Components/Form/FormBtn.cshtml",
            new { Label="Save as draft"})
            @await Html.PartialAsync("../../Components/Form/FormBtn.cshtml",
            new { Label="Upload Post"})
        </div>
    </form>
</div>


@section Scripts {
<script src="https://cdn.quilljs.com/1.3.7/quill.js"></script>
<script src="/js/blog-editor.js"></script>
}
