@using FPTBlog.Src.PostModule.Entity
@using FPTBlog.Src.CategoryModule.Entity
@using Microsoft.AspNetCore.Html

@section Styles {
<link href="https://cdn.quilljs.com/1.3.7/quill.snow.css" rel="stylesheet">
<link href="/style/restore.css" rel="stylesheet">
}


@{


    var value = (PostViewModel)this.ViewData["post"];
    var content = new HtmlString(value.Post.Content);
    this.ViewData["Title"] = value.Post.Title;
    var categoryLink = $"{Routers.PostGetSearch.Link}?categoryId={value.Post.CategoryId}";


}

<div class="relative py-8 space-y-4">
    <div class="flex justify-between">
        <div class="px-4 space-y-1">
            <a href="@categoryLink" class="font-semibold capitalize ">@value.Post.Category.Name</a>
            <p class="text-sm font-medium opacity-60">@value.Post.CreateDate</p>
        </div>
        <div>
            @value.Post.View
        </div>
    </div>
    <div class="ql-editor intro-y">
        @content
        <div class="flex flex-wrap items-center space-x-2">
            @foreach (var item in value.Post.PostTags)
            {
                <div class="text-sm text-blue-600">#@item.Tag.Name</div>
            }
        </div>
    </div>

    <div class="h-0.5 bg-tango-300 my-4 mx-4">
    </div>

    <div>
        <div>

        </div>
    </div>
</div>
