@using FPTBlog.Src.PostModule.Entity
@using FPTBlog.Src.CategoryModule.Entity
@using Microsoft.AspNetCore.Html

@section Styles {
<link href="https://cdn.quilljs.com/1.3.7/quill.snow.css" rel="stylesheet">
}


@{


    var value = (PostViewModel)this.ViewData["post"];
    var content = new HtmlString(value.Post.Content);

    this.ViewData["Title"] = value.Post.Title;
    var editorLink = $"{Routers.PostGetEditor.Link}?postId={value.Post.PostId}";
    var categoryName = value.Post.Category != null ? value.Post.Category.Name : "Please select category";

}

<div class="py-8 space-y-4">
    <div class="flex flex-col px-4 ">
        <div>
            <a href="@editorLink"
                class="inline-block px-8 py-2 font-medium text-center text-white rounded-sm bg-tango-500 intro-x">
                Go back to editor
            </a>
        </div>
        <p class="text-xs opacity-60">This screen displays exactly what other will see your post.</p>
    </div>

    <div class="px-4 space-y-1">
        <p class="font-semibold capitalize ">@value.Post.Category.Name</p>
        <p class="text-sm font-medium opacity-60">@value.Post.CreateDate</p>
    </div>
    <div class="ql-editor intro-y">
        @content
        <div class="flex flex-wrap items-center space-x-2">
            @foreach (var item in value.Post.PostTags)
            {
                <div class="text-sm text-blue-600">#@item.Tag.Name</div>
            }
        </div>
    </div>

    <div class="h-0.5 bg-tango-300 my-4 mx-4">
    </div>
    <p class=" opacity-60">This screen show how your post appears in our page</p>
    <div>
        <div class="flex flex-col md:flex-row md:space-x-8 md:space-y-0 intro-y">
            @await Html.PartialAsync("../../Components/Post/MainPost.cshtml", new {Value = value})
            <div class="flex flex-col flex-1 space-y-4">
                @await Html.PartialAsync("../../Components/Post/SidePost.cshtml",new {Value = value})
                <div class="flex">

                    @await Html.PartialAsync("../../Components/Post/InlinePost.cshtml", new {Value = value})
                    <div class="flex-1">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
