<div class="flex flex-1 bg-big-stone-500">
    <div class="w-56 p-2 ">
        @await Html.PartialAsync("~/Views/Components/SideDashboard.cshtml")

    </div>
    <div class="flex-1 p-2 bg-gray-100">


        <div>

        </div>
    </div>
</div>

@section Scripts {

<script src="~/js/adminCommon.js"></script>

}