<div>
    <button
        class="inline-flex items-center px-4 py-2 text-sm font-medium text-white border border-transparent rounded-md shadow-sm bg-tango-600 hover:bg-tango-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-tango-500">
        @await Html.PartialAsync((string) Model.Icon)
        @Model.Label
    </button>
    <div class="items-center justify-center hidden space-x-2 fade-in" id="loading">
        <div class="w-1 h-10 bg-tango-500 animation1"></div>
        <div class="w-1 h-10 bg-tango-500 animation2"></div>
        <div class="w-1 h-10 bg-tango-500 animation1"></div>
        <div class="w-1 h-10 bg-tango-500 animation2"></div>
        <div class="w-1 h-10 bg-tango-500 animation1"></div>
    </div>
</div>
