@using FPTBlog.Src.PostModule.Entity
@if (Model == PostStatus.DENY)
{
    <div class="inline-flex items-center px-2 space-x-1 text-red-800 bg-red-100 rounded-full">
        <div class="text-xs font-semibold leading-5 ">
            Denied
        </div>
    </div>
}
else if (Model == PostStatus.APPROVED)
{

    <div class="inline-flex items-center px-2 space-x-1 text-green-800 bg-green-100 rounded-full">
        <div class="text-xs font-semibold leading-5 ">
            Approved
        </div>
    </div>
}
else
{
    <div class="inline-flex items-center px-2 space-x-1 text-yellow-700 bg-yellow-100 rounded-full">
        <div class="text-xs font-semibold leading-5 ">
            Waiting
        </div>
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
            d="M13.931 2.06873C13.3061 1.44389 12.2931 1.44389 11.6682 2.06873L5.59961 8.13736V10.4001H7.86235L13.931 4.33147C14.5558 3.70663 14.5558 2.69357 13.931 2.06873Z"
            fill="#B45309" />
            <path fill-rule="evenodd" clip-rule="evenodd"
            d="M1.59961 4.8001C1.59961 3.91644 2.31595 3.2001 3.19961 3.2001H6.39961C6.84144 3.2001 7.19961 3.55827 7.19961 4.0001C7.19961 4.44193 6.84144 4.8001 6.39961 4.8001H3.19961V12.8001H11.1996V9.6001C11.1996 9.15827 11.5578 8.8001 11.9996 8.8001C12.4414 8.8001 12.7996 9.15827 12.7996 9.6001V12.8001C12.7996 13.6838 12.0833 14.4001 11.1996 14.4001H3.19961C2.31595 14.4001 1.59961 13.6838 1.59961 12.8001V4.8001Z"
            fill="#B45309" />
        </svg>

    </div>
}
